.app__abou {
    flex: 1;
    width: 100%;
    flex-direction: column;
    background-color: white !important;
    padding: 4rem 0;
  }

  .go{
      margin-top: 2rem;
  }
  
  .app__profiles {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  
  .app__profiles-item {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;

    h2{
        font-size: 21px;
    }

    p{
        font-size: 16px;
    }
  
    img {
      width: 100%;
      height: 170px;
      border-radius: 15px;
      object-fit: cover;
    }
  
    @media screen and (min-width: 2000px) {
      width: 370px;
      margin: 2rem 4rem;
  
      img {
        height: 320px;
      }
    }
  } 
  
  